<nav class="navbar">
    <div class="navbar__logo">
        <p class="navbar__logo-text">Sensores</p>
    </div>
    <div class="navbar__links">
        <a routerLink="/dashboard" class="navbar__link"><mat-icon>home</mat-icon>Home</a>
        <a routerLink="/temperatura" class="navbar__link">Temperatura</a>
        <a routerLink="/humedad" class="navbar__link">Humedad</a>
        <a routerLink="/lluvia" class="navbar__link">Lluvia</a>
        <a routerLink="/sonido" class="navbar__link">Sonido</a>
    </div>
</nav>
