body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; // Evita el desplazamiento horizontal
}

.menu-container {
  position: relative;
  display: flex;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 10px;

  .hamburger {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.3s ease;
  }

  &.active {
    .hamburger {
      &:nth-child(1) {
        transform: rotate(45deg) translate(0, 0);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(0, 0);
      }
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0; // Cambia a 0 para que el menú esté inicialmente oculto
  width: 100px;
  height: 100%;
  background-color: #553c2585;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;

  &.active {
    left: -250px; // Mostrar el menú
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  .navbar__link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
    transition: color 0.3s;

    &:hover {
      color: #f39c12;
    }
  }

  .navbar__divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 0;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .logo-image {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  
}
