<section class="body">
    <div class="leftMenu">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <div class="data-container">
            <h2 class="table-title">Sensores</h2> <!-- Agregado el título aquí -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p>Temperatura: {{ getLatestValue('temperatura') }}&deg;</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Humedad: {{ getLatestValue('humedad') }}</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Sonido: {{ getLatestValue('sonido') }}</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Lluvia: {{ getLatestValue('lluvia') }}</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Distancia: {{ getLatestValue('distancia') }}</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Luminosidad: {{ getLatestValue('luminosidad') }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btns">
            <button class="update-btn" (click)="updateData()">Actualizar Datos</button>
            <button class="update-btn" (click)="changeInterval(30000)">30s</button>
            <button class="update-btn" (click)="changeInterval(15000)">15s</button>
        </div>
    </div>
</section>
