<section class="body">
    <div class="leftMenu">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <h2 class="table-title">Sensores</h2>
        <div class="data-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="data-box">
                            <p class="data-title">Temperatura</p>
                            <img src="assets/imagen/temperatura.jpg" alt="Temperatura" class="sensor-image">
                            <p class="data-value">{{ getLatestValue('temperatura') }}&deg;</p>
                        </div>
                        <div class="data-box">
                            <p class="data-title">Humedad</p>
                            <img src="assets/imagen/humedad.jpg" alt="Humedad" class="sensor-image">
                            <p class="data-value">{{ getLatestValue('humedad') }}</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="data-box">
                            <p class="data-title">Sonido</p>
                            <img src="assets/imagen/sonido.png" alt="Sonido" class="sensor-image">
                            <p class="data-value">{{ getLatestValue('sonido') }}</p>
                        </div>
                        <div class="data-box">
                            <p class="data-title">Lluvia</p>
                            <img src="assets/imagen/lluvia.jpg" alt="Lluvia" class="sensor-image">
                            <p class="data-value">{{ getLatestValue('lluvia') }}</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="data-box">
                            <p class="data-title">Proximidad</p>
                            <img src="assets/imagen/proximidad.jpg" alt="Humedad" class="sensor-image">
                            <p class="data-value">{{ getLatestValue('proximidad') }}</p>
                        </div>
                        <div class="data-box">
                            <p class="data-title">Luminosidad</p>
                            <img src="assets/imagen/luminosidad.jpg" alt="Humedad" class="sensor-image">
                            <p class="data-value">{{ getLatestValue('luminosidad') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="btns">
            <button class="update-btn" (click)="updateData()">Actualizar Datos</button>
            <button class="update-btn" (click)="changeInterval(30000)">30s</button>
            <button class="update-btn" (click)="changeInterval(15000)">15s</button>
        </div>
    </div>
</section>
